.App {
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.App h1 {
	background-color: skyblue;
}
.App span {
	background-color: orange;
}

.orange {
	background-color: orange;
}
